.one-1-1 {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size: 16px;
}

.apjp {
    width: 500px;
    background-color: transparent;
    display: block;
    margin: 0 auto;
}

.p {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
    font-size: 17px;
}

.one-three {
    color: white;
    text-align: center;
}

.one-1-2 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
